In [7]:
x = 5

In [8]:
x

5

In [9]:
y = 8

In [10]:
print(y)

8

In [11]:
x,y = (1,2)

In [12]:
type(y)

int

In [13]:
int(5.22)

5

In [14]:
x4 = "George"

In [15]:
x4

'George'

In [16]:
print(y + "Dollars")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
print(str(y) + " Dollars")

2 Dollars

In [22]:
"I'm fine"

"I'm fine"

In [24]:
"i\'m fine"

"i'm fine"

In [25]:
16/3

5.333333333333333

In [26]:
16 % 3

1

In [32]:
y = 5 ** 3
y

125

In [33]:
y == 125

True

In [35]:
# this is not code

In [39]:
5 / 10 + \
5 + 10 + 15

30.5

In [41]:
"friday" [3]

'd'

In [42]:
10 == 5 * 2

True

In [43]:
10 != 20

True

In [44]:
10 <= 5

False

In [45]:
20 > 5

True

In [46]:
True and True

True

In [53]:
False and True

False

In [48]:
False or False

False

In [49]:
True or True

True

In [50]:
not False

True

In [1]:
5 != 6

True

In [57]:
if(5 == 15):
    print("Yayyyyyy")
elif(5 == 5):
    print("No")
else:
    print("Incorrect")

No

In [58]:
def simple():
    print("This is my first function on Jupyter")

In [59]:
simple()

This is my first function on Jupyter

In [60]:
def plus_ten(a):
    return a + 10

In [61]:
plus_ten(10)

20

In [65]:
def add_twenty(b):
    result = 5 + b
    return result

In [66]:
add_twenty(10)

15

In [67]:
def wage(w_hours):
    return w_hours * 25
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [68]:
wage(8), with_bonus(8)

(200, 250)

In [2]:
def add_ten(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [3]:
add_ten(110)

120

In [4]:
max(10,20,30)

30

In [5]:
min(5,10,15)

5

In [7]:
z = -20
abs(z)

20

In [8]:
list1 = [1,2,3,4]
sum(list1)

10

In [9]:
round(3.2)

3

In [10]:
pow(2,3)

8

In [11]:
len("Hello")

5

In [12]:
print(list1[1])

2

In [13]:
list1[-3]

2

In [24]:
list1[3] = 10
list1

IndexError: list assignment index out of range

In [23]:
del list1[3]
list1

IndexError: list assignment index out of range

In [25]:
list1

[1, 2]

In [26]:
list1.append(25)
list1

[1, 2, 25]

In [41]:
list1.extend([30,35,40])
list1
# . = dot operator, need square brackets because it is a mini list for method, len is function

[1, 2, 25, 30, 35, 40, 30, 35, 40, 30, 35, 40]

In [34]:
list2 = ["Hello", "Goodbye", "Bonjour"]

In [38]:

print('The first number in the list is ' + str(list1[0]) + ".")
print("The first word in the list is " + list2[0] + ".")

The first number in the list is 1.
The first word in the list is Hello.

In [39]:
len("Dolphin")

7

In [40]:
len(list1)

9

In [43]:
list1[1:3]

[2, 25]

In [44]:
list1[:2]

[1, 2]

In [45]:
list1[4:]

[35, 40, 30, 35, 40, 30, 35, 40]

In [47]:
list1[-2:]

[35, 40]

In [48]:
list1.index(40)

5

In [53]:
list1.sort(reverse = True)
list1

[40, 40, 40, 35, 35, 35, 30, 30, 30, 25, 2, 1]

In [49]:
Bigger_List = [list1, list2]
Bigger_List

[[1, 2, 25, 30, 35, 40, 30, 35, 40, 30, 35, 40],
 ['Hello', 'Goodbye', 'Bonjour']]

In [54]:
x = (5, 10, 15)
x

(5, 10, 15)

In [55]:
y = 5, 10, 15
y

(5, 10, 15)

In [56]:
a, b, c = 1, 2, 3
a

1

In [57]:
x[0]

5

In [59]:
list1 = [x, y]
list1

[(5, 10, 15), (5, 10, 15)]

In [62]:
(age, years_in_school) = "30,17".split(",")
print(age)
print(years_in_school)

30
17

In [67]:
def square_info(x):
    A = x ** 2
    P = 4 ** x
    print("Area and Perimeter")
    return A,P

In [68]:
square_info(3)

Area and Perimeter

(9, 64)

In [69]:
dict = {1:"Barny", 2: "Hectare", 3: "Sophia" }
dict

{1: 'Barny', 2: 'Hectare', 3: 'Sophia'}

In [70]:
dict[1]

'Barny'

In [71]:
dict[3]

'Sophia'

In [73]:
dict[4] = "Kayla"
dict

{1: 'Barny', 2: 'Hectare', 3: 'Sophia', 4: 'Kayla'}

In [75]:
dict[2] = "Amy"
dict

{1: 'Barny', 2: 'Amy', 3: 'Sophia', 4: 'Kayla'}

In [77]:
door_workers = {"dep1": "Bob", "dep2": "Nobody", "dep3": ["Steve", "Sharon", "Stephanie"]}
door_workers

{'dep1': 'Bob', 'dep2': 'Nobody', 'dep3': ['Steve', 'Sharon', 'Stephanie']}

In [78]:
team = {}

In [81]:
team["Hello"] = "World"
team

{'Hello': 'World'}

In [82]:
print(team.get("Hello"))

World

In [84]:
print(team.get("Pooja"))

None

In [85]:
even = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [87]:
for n in even:
    print(n, end = " ")

2 4 6 8 10 12 14 16 18 20

In [91]:
x = 0
while x <= 20:
    x += 2
    print(x, end  = " ")
# x += 2 = incrementing

2 4 6 8 10 12 14 16 18 20 22

In [93]:
range(10)
# creates list of numbers from 0 to 9 (n-1)

range(0, 10)

In [95]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
range(3,7)

range(3, 7)

In [97]:
range(1,20,2)

range(1, 20, 2)

In [98]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [99]:
for n in range(10):
    print(2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [100]:
for x in range(20):
    if x % 2 == 0:
         print(x, end = " ")
    else:
        print("odd", end = " ")

0 odd 2 odd 4 odd 6 odd 8 odd 10 odd 12 odd 14 odd 16 odd 18 odd

In [103]:
x = [10, 20, 30]

In [104]:
for item in x:
    print(item, end = " ")

10 20 30

In [105]:
for item in range(len(x)):
    print(x[item], end = " ")

10 20 30

In [106]:
def count(numbers):
    total = 0 
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [108]:
list1 = (1, 4, 6, 7, 8, 10, 100, 50, 70)
count(list1)

6

In [110]:
prices = {"Lasagne": 5, "box of spaghetti": 20, "ice cream": 9}
quantity = {"box of spaghetti" : 7, "Lasagne": 8, "ice cream": 10 }

In [111]:
money_spent = 0

In [116]:
for i in prices:
    money_spent = money_spent + prices[i]* quantity[i]
print(money_spent)

810