# Multiple Linear Regression

## Import the relevant libraries

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

## Load the Data

In [10]:
data = pd.read_csv("Multiple linear regression.csv")
data

     SAT   GPA  Rand 1,2,3
0   1714  2.40           1
1   1664  2.52           3
2   1760  2.54           3
3   1685  2.74           3
4   1693  2.83           2
..   ...   ...         ...
79  1936  3.71           3
80  1810  3.71           1
81  1987  3.73           3
82  1962  3.76           1
83  2050  3.81           2

[84 rows x 3 columns]

In [11]:
data.describe()

               SAT        GPA  Rand 1,2,3
count    84.000000  84.000000   84.000000
mean   1845.273810   3.330238    2.059524
std     104.530661   0.271617    0.855192
min    1634.000000   2.400000    1.000000
25%    1772.000000   3.190000    1.000000
50%    1846.000000   3.380000    2.000000
75%    1934.000000   3.502500    3.000000
max    2050.000000   3.810000    3.000000

## Create multiple linear regression

### Declare the dependant and independant variables

In [14]:
x = data[["SAT","Rand 1,2,3"]]
y = data["GPA"]

### Regression

In [15]:
reg = LinearRegression()

In [16]:
reg.fit(x,y)

LinearRegression()

In [17]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [18]:
reg.intercept_

0.29603261264909486

### Calculating the R Squared

In [19]:
reg.score(x,y)

0.40668119528142843

#### Formula for Adjusted R^2

$R^2_{adj.} = 1-(1-R^2)*\frac{n-1}{n-p-1}$

In [26]:
x.shape

(84, 2)

In [33]:
r2_value = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]
adjusted_r2= 1-(1-r2)*(n-1)/(n-p-1)
adjusted_r2

0.39203134825134023

In [39]:
r2_1 = r2_value

In [43]:
def r2(n,p):
    adjusted_r_2 = 1-(1-r2_1)*(n-1)/(n-p-1)
    return adjusted_r_2
r2(84,2)

0.39203134825134023

## Feature selection

In [44]:
from sklearn.feature_selection import f_regression

In [45]:
f_regression(x,y)

(array([56.04804786,  0.17558437]), array([7.19951844e-11, 6.76291372e-01]))

In [46]:
p_values = f_regression(x,y)[1]
p_values

array([7.19951844e-11, 6.76291372e-01])

In [47]:
p_values.round(3)

array([0.   , 0.676])

### Creating a summary table

In [63]:
reg_summary = pd.DataFrame(data=x.columns.values, columns=["Features"])
reg_summary

     Features
0         SAT
1  Rand 1,2,3

In [65]:
reg_summary["Coefficients"] = reg.coef_
reg_summary["p values"] = p_values.round(3)
reg_summary

     Features  Coefficients  p values
0         SAT      0.001654     0.000
1  Rand 1,2,3     -0.008270     0.676