# Panda DataFrames

In [ ]:
# pandas series is usually single column data or variable compared to dataframe with multi-column data, 
# each column having different variable with data types
# information could be heterogenous
# does not need to be single data type like a series, so still preserve data consistency- 
# should aim for data of same type in same column
# data frame is a collection of series objects 
# charachteristic of series is applicable to column of dataframe
# series is a 1d data object containing values across single axis (rows)
# dataframe is a 2d data structure with tabular structure, closest python has to 2d dataset or spreadsheet
# data frame can have row and column labels- don't need to think of it as 2d numpy array or 2d matrix
## collection of observations, 
## so can find information in single data point by referring to relevant observation from a certain variable 
# can use row index for series, but need row and column index for dataframe
# if want certain observation, need row and column indices, without both, will either get a whole row or column
# series is like a python list with dictioniary features
# indexing is like keys of a dictionary 
# series allows us to extract desired parts of a given dataset more quickly and efficiently
# dataframe is like an enhanced python dictionary 
# don't need to indicate a single value to dictionary keys like a dictioniary
# can provide a whole object containing values of whole column to dictionary keys 
# inherits charachteristic of dictionary class
# plus lots more features and functionalities

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# dataframe is most important structure in pandas library, like a data table

In [3]:
array_a =np.array([[3,2,1],[6,3,2]])
array_a

array([[3, 2, 1],
       [6, 3, 2]])

In [4]:
pd.DataFrame(array_a)

   0  1  2
0  3  2  1
1  6  3  2

In [5]:
type(pd.DataFrame(array_a))

pandas.core.frame.DataFrame

In [9]:
df = pd.DataFrame(array_a,columns = ['Column 1','Column 2', 'Column 3'], index = ['Row 1','Row 2'])
df

       Column 1  Column 2  Column 3
Row 1         3         2         1
Row 2         6         3         2

In [11]:
data = pd.read_csv('Lending-Company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [12]:
type(lending_co_data)

pandas.core.frame.DataFrame

## Common Attributes for working with DataFrames

In [13]:
data = pd.read_csv('Lending-Company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [15]:
lending_co_data.index # index elements, not index values, that starts at 0

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
           dtype='int64', name='LoanID', length=1043)

In [16]:
lending_co_data.columns

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
       'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
      dtype='object')

In [17]:
type(lending_co_data.columns)

pandas.core.indexes.base.Index

In [ ]:
lending_co_data.axes # combines index and column attributes in same fields

In [19]:
lending_co_data.dtypes # columns on left and datatype on right
# need to keep track of data types to ensure data consistency, which is a main goal of a data analyst

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
StartDate          object
Deposit             int64
DailyRate           int64
TotalDaysYr         int64
AmtPaid36           int64
AmtPaid60           int64
AmtPaid360          int64
LoanStatus         object
dtype: object

In [20]:
lending_co_data.values

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [21]:
type(lending_co_data.values)

numpy.ndarray

In [22]:
lending_co_data.to_numpy() # aims to solve compatability issues
# simular output to values atrribute

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [23]:
type(lending_co_data.to_numpy()) # there is a connection between pandas data frame and numpy 2d array
# can exploit that relationship by converting dataframe into a numpy 2d array

numpy.ndarray

In [24]:
lending_co_data.shape
# rows, columns

(1043, 14)

In [27]:
len(lending_co_data.columns)

14

## Data selection in pandas dataframes

In [28]:
# data selection or subset selection in pandas dataframes means extracting rows, columns or subsets from such an object
# data selection allows us to work on just a portion of a dataset
# one way to do that is indexing - row and column

In [32]:
data = pd.read_csv('Lending-Company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()
# one way of extracting data is by using attribute-type of access

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [33]:
lending_co_data.product

<bound method NDFrame._add_numeric_operations.<locals>.prod of              LoanID    Product CustomerGender     Location    Region  \
StringID
LoanID_1          1  Product B         Female   Location 3  Region 2
LoanID_2          2  Product D         Female   Location 6  Region 6
LoanID_3          3  Product B           Male   Location 8  Region 3
LoanID_4          4  Product A           Male  Location 26  Region 2
LoanID_5          5  Product B         Female  Location 34  Region 3
...             ...        ...            ...          ...       ...
LoanID_1039    1039  Product B           Male  Location 73  Region 6
LoanID_1040    1040  Product A           Male  Location 82  Region 1
LoanID_1041    1041  Product A   NotSpecified  Location 11  Region 4
LoanID_1042    1042  Product B         Female  Location 26  Region 6
LoanID_1043    1043  Product A   NotSpecified  Location 94  Region 6

             TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  \
StringID
LoanID_1        17600.0  04/07/2018     2200         45          365
LoanID_2            NaN  02/01/2019     2200         45          365
LoanID_3        16600.0  08/12/2016     1000         45          365
LoanID_4        17600.0         NaN     2200         45          365
LoanID_5        21250.0  28/10/2017     2200         55          365
...                 ...         ...      ...        ...          ...
LoanID_1039     17300.0  29/12/2018     2200         45          365
LoanID_1040         NaN  28/03/2018     2200         45          365
LoanID_1041     17300.0  26/04/2018     2200         45          365
LoanID_1042     16300.0  25/10/2016     1000         45          365
LoanID_1043     17300.0  15/05/2019     2200         45          365

             AmtPaid36  AmtPaid60  AmtPaid360        LoanStatus
StringID
LoanID_1          3221       4166       14621            Active
LoanID_2          3161       4096       16041            Active
LoanID_3          2260       3205       16340               NaN
LoanID_4          3141       4166       16321            Active
LoanID_5          3570       4745       14720            Active
...                ...        ...         ...               ...
LoanID_1039       3251       4743       16617  Finished Payment
LoanID_1040       4090       5582       16617  Finished Payment
LoanID_1041       4051       5143       16617  Finished Payment
LoanID_1042       1930       3462       15617  Finished Payment
LoanID_1043       4451       4743       16617  Finished Payment

[1043 rows x 14 columns]>

In [35]:
lending_co_data.Location

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [36]:
lending_co_data['Product']

StringID
LoanID_1       Product B
LoanID_2       Product D
LoanID_3       Product B
LoanID_4       Product A
LoanID_5       Product B
                 ...
LoanID_1039    Product B
LoanID_1040    Product A
LoanID_1041    Product A
LoanID_1042    Product B
LoanID_1043    Product A
Name: Product, Length: 1043, dtype: object

In [37]:
lending_co_data['Location'] # this approach considered more professional 
# column name with whitespace cannot act as a valid identifier in Python
# can write names in camelcase

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [38]:
# python is case sensitive

In [39]:
type(lending_co_data['Product'])

pandas.core.series.Series

In [41]:
type(lending_co_data[['Product']]) # turns into data frame
# should use a nested loop containing a single element, makes a dataframe

pandas.core.frame.DataFrame

In [44]:
lending_co_data[['Product', 'Location']].head()
# more elegant way to obtain same result is to store column names in a seperate variable, and nest loop

            Product     Location
StringID
LoanID_1  Product B   Location 3
LoanID_2  Product D   Location 6
LoanID_3  Product B   Location 8
LoanID_4  Product A  Location 26
LoanID_5  Product B  Location 34

In [47]:
prod_loc = ['Product', 'Location']
lending_co_data[prod_loc].head()

            Product     Location
StringID
LoanID_1  Product B   Location 3
LoanID_2  Product D   Location 6
LoanID_3  Product B   Location 8
LoanID_4  Product A  Location 26
LoanID_5  Product B  Location 34

## Pandas dataframe.iloc()

In [ ]:
# iloc method become reason pandas is loved by data professionals
# iloc is a property, or attribute indexor, or accessor
# used for interger location based indexing or selection by position
# i for indexing loc for location 
# iloc indexer = iloc accessor
# same rules apply for python lists, pandas series by index position, and pandas series and dataframes with iloc
# what distinquishes iloc is the strict implicit, integer-location, position based indexing

In [48]:
data = pd.read_csv('Lending-Company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [49]:
lencing_co_data[1]

NameError: name 'lencing_co_data' is not defined

In [50]:
lending_co_data['Product']

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [51]:
# use iloc if want to explicitely index by integer

In [53]:
lending_co_data.iloc[1]

StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 2, dtype: object

In [54]:
lending_co_data.iloc[1,3]

'Location 6'

In [56]:
lending_co_data.iloc[1,:] 
# has been programmed to provide desired portion of dataset whether we use one or two location specfiers

StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 2, dtype: object

In [ ]:
# good practice requires us to indicate a value for both row and column

In [57]:
lending_co_data.iloc[:,3]
# always use accessors specifiers in pairs

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [62]:
type(lending_co_data.iloc[1,3])

str

In [59]:
type(lending_co_data.iloc[1,:] ) # output is series

pandas.core.series.Series

In [61]:
type(lending_co_data.iloc[:,3])

pandas.core.series.Series

In [68]:
lending_co_data.iloc[:,[1,3]]

          Product     Location
LoanID
1       Product B   Location 3
2       Product D   Location 6
3       Product B   Location 8
4       Product A  Location 26
5       Product B  Location 34
...           ...          ...
1039    Product B  Location 73
1040    Product A  Location 82
1041    Product A  Location 11
1042    Product B  Location 26
1043    Product A  Location 94

[1043 rows x 2 columns]

In [66]:
lending_co_data.iloc[:,[3,1]]]

SyntaxError: unmatched ']' (Temp/ipykernel_22460/3337422053.py, line 1)

## Pandas dataframe loc()

In [ ]:
# loc indexer or loc accessor 
# allows us to sub-select from a DataFrame by referring to its index labels

In [77]:
data = pd.read_csv('Lending-Company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LoanID_1039,1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
LoanID_1040,1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
LoanID_1041,1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
LoanID_1042,1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
LoanID_1043,1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [78]:
lending_co_data.loc['LoanID_3']

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [73]:
lending_co_data.loc['LoanID_3',:]

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [ ]:
# loc is designed to let you take advantage of explict index and column labels of your data table

In [74]:
lending_co_data.loc['LoanID_3','Region']

'Region 3'

In [79]:
lending_co_data.loc['Location']

KeyError: 'Location'

In [80]:
lending_co_data.loc[:,'Location'] # need to specify location clearly or get error

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

In [81]:
lending_co_data.loc['Locations']

KeyError: 'Locations'