# Tips and tricks

## Format method

In [1]:
# format is a useful method for preprocessing text data

In [2]:
time_horizon = 1,3,12
time_horizon # different time periods

(1, 3, 12)

In [3]:
products = ['Product A','Product B']
products

['Product A', 'Product B']

In [4]:
# format is just for string values only.
# format will have formatted the values as text first, regardless of their initial data type

In [5]:
'Expected Sales for a period of {} month(s) for {}'.format(time_horizon[2],products[1])
# curly brackets are placeholders where we will insert the values that have been passed as arguments for the format method
# can also change the numbers in format to variables with appropriate index

'Expected Sales for a period of 12 month(s) for Product B'

In [6]:
# two types of parameters, positional and keyword, when applying them, should say whether positional or keyword arguments 
# were arguments for us not parameters
# computer converts brackets into 0's and 1's. This is how python will treat the arguments of the .format method by default
# could write 0 and 1 respectively in first and second pair of braces instead of empty ones 
# it is possible to be implicit or explicit when referencing positional arguments, can choose one or another 
# keyword arguments = named arguments, indicated by their keys not index value- like their names

In [11]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}: ${sales}'.format(t_hor = time_horizon, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000'

In [8]:
# above uses keyword not positional arguments

In [12]:
'Expected sales for a period of {0} month(s) for {prod[1]}: ${sales}'.format(12, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000'

## Sequences

In [13]:
##tuples and lists are sequences

In [16]:
t = (4,5,6,7)
t

(4, 5, 6, 7)

In [17]:
l = [2.5,3.5,4.5,5.5]
l

[2.5, 3.5, 4.5, 5.5]

In [18]:
# sequence of order is determined by position of object in the sequence

In [19]:
# string is a sequence of charachters
s = 'Hello'
s

'Hello'

In [20]:
for i in t:
    print(i, end = " ")
    # body is what will be executed at ever iteration(or pass) of a loop
    # i = loop or iterator variable, t = iterable
    # iterable is any object you can iterate or loop over / a stram (or collection) of seperate data values

4 5 6 7

In [21]:
# can use help() to find out about functions and methods

In [22]:
range(5)

range(0, 5)

In [25]:
for i in range(5):
    print(i, end = " ") # n = number of iterations needed

0 1 2 3 4

## Nested for loops

In [26]:
for i in range(2):
    print(i)

0
1

In [27]:
for j in range(5):
    print(j)

0
1
2
3
4

In [29]:
for i in range(2):
    for j in range(5):
        print(j)

0
1
2
3
4
0
1
2
3
4

In [30]:
for i in range(2):
    for j in range(5):
        print(i,j)
        # j loop is nested in i loop, or placed 
        # i loop is inner loop, j is outer loop

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4

In [31]:
for i in ['Product A', 'Product B']:
    for j in range(5):
        print(i,j)

Product A 0
Product A 1
Product A 2
Product A 3
Product A 4
Product B 0
Product B 1
Product B 2
Product B 3
Product B 4

In [37]:
for i in products:
    for j in exp_sales:
        print(i,j)

Product A 10000
Product A 11000
Product A 12000
Product A 13000
Product A 14000
Product B 10000
Product B 11000
Product B 12000
Product B 13000
Product B 14000

In [33]:
products = ['Product A', 'Product B']

In [36]:
exp_sales = [10000,11000,12000,13000,14000]

In [38]:
# can link loops to a dataset